# Python
__pycache__/
*.py[cod]
*.pyo

# venv
.venv/
venv/

# macOS
.DS_Store

# VS Code
.vscode/
logs/
script_logs/


# env
.env 

# generated charts / download raw data
chart_storage/
clean_data/raw_data/
*.csv
*.png


# excel
excel_file/

test_clean_data.py
test_ssl.py


practice/